footer{
    display: inline-block;
    position : absolute;
    background-color:#3b5998;
    width: 100%;
    color: white;
    position: fixed;
    bottom:0;
}
footer p{
    margin:10px;
}

#log-button{
    top:50%;
    left:50%;
    background-color: white;
    /* #3b5998 */
    opacity: 50%;
    border-style: none;
    border-radius: 10% 10%;
    overflow: hidden;
}

.profile{
    box-shadow: 0px 1px 10px #b9b9b9;
    margin-top: 5px;
    position: relative;
    width:100%;
    height: 390px;
    overflow: hidden;
    box-sizing: border-box;
}
.profile .cover{
    width:100%;
    opacity:0.5;
}

.picture{
    position: absolute;
    top : 220px;
    left : 20px;
    margin : 5px;
}
.picture img{
    border-radius: 50%;
    height: 140px;
    width: 140px
}
.picture span{
    font-size: 30pt;
    font-weight: 700;
    margin-left: 20px;
    bottom: 0;
}

.data{
    background-color:white; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 1px 10px #b9b9b9;
}
.data h1{
    font-size: 20pt;
    margin : 10px;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #3b5998;
}
.data h2{
    font-size: 13pt;
    margin : 15px;
}
#postInput{
    width: 100%;
}
#postInput:active{
    border-color: #3b5998;
}
#postStatus{
    background-color:#3b5998;
    color: white;
    margin-top: 3px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #b9b9b9;
}
#postStatus:hover{
    background-color: #213c72;
}
#feedpp{
    font-size: 18;
    padding: 5px;
    width: 100%;
    border-bottom-color: #3b5998;
}
#feedpp img{
    width: 50px;
    height: 50px;
}
.feed{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px #b9b9b9;
    padding: 10px;
    margin-top: 5px;
}
.time{
    font-size: 12pt;
    color: #929090;
}
.deletePost{
    font-size: 8pt;
    background-color: red;
    color: white;
    bottom: 0;
    text-align: right;
    border-style: none;
    border-radius: 4px;
}