footer{
    position: fixed;
    bottom:0;
}
#fb-btn-place #login{
    top:40;
    background-color: #43609C;
}
#login img{
    height: 10px;
    width: 10px;
}
#normalize{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}

#fb-btn-place{
    position : relative;
    top: 50;
    left: 0;
}

#cover{
    position: relative;
    width:100%;
    height:25%;
}

#cover img{
    opacity:0.5;
}

#p-p{
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 100;
}

#p-p img{
    height:50px;
    width:50px;
}
