<!-- for all better header -->
<nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Home</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'lab-1:index' %}">Lab1</a></li>
                <li><a href="{% url 'lab-2:index' %}">lab2</a></li>
                <li><a href="{% url 'lab-2-addon:index' %}">lab2addon</a></li>
                <li><a href="{% url 'lab-3:index' %}">Lab3</a></li>
                <li><a href="{% url 'lab-4:index'%}">Input Todo</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      