body{
    margin-top: 70px;
}

/* Custom navbar style */
nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.6);
    background-color: rgb(207, 207, 207);
    top:0;
}
.messages .success{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: 700;
    top: 10px;
    color:rgb(0, 87, 7);
    background-color: rgba(175, 224, 169, 0.6)
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
    min-height: 600px;
}
/* animasi pada title */
.main-title{
    -webkit-animation: colorchange 1s infinite;
    -webkit-animation-direction: alternate;
    text-align: center;
}

/* styling footer */
footer p{
    text-align: center;
    padding-top: 10px;
}
#input-list{
background: linear-gradient(to bottom right, #606062, #393939);
}
#input-list form{
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}
#input-list form > h2{
    font-size: 1.3em;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#my-list{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
#my-list .my-list-title{
    font-size: 40px;
    margin-bottom: 1em;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.to-do-list{
    top:5px;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
}
.to-do-list:hover{
    top:0px;
    -webkit-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.6);
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    transition: top 0.2s ease;
}

.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

.flex-item:hover{
    top : 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.to-do-list .to-do-list-title {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
    font-size: 12px;
    padding: 0 10px;
}
.to-do-list .to-do-list-description {
    padding: 10px 25px;
    z-index: 15;
    background: #fff;
    height: 125px;
    text-align: justify;
    overflow: auto;
    top:5px;
}
.to-do-list .to-do-list-delete {
    opacity:0;
    bottom: 0px;
    background: #e45;
    display: block;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    min-height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: -1;
}
.to-do-list:hover .to-do-list-delete {
    opacity: 1;
    bottom:-40px;
    color: #ffff;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.6);
    -webkit-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}
/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #FBFF19;
        letter-spacing: 0;
    }
    50% {
        -webkit-text-stroke: 7.5px  #FFB224;
    }
    100% {
        -webkit-text-stroke: 10px  #FF4931;
        letter-spacing: 18px;
    }
}
/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media screen and (max-width: 768px) {
    /* styling wrapper form */
    #input-list{
        background: linear-gradient(to bottom right, #606062, #393939);
    }
    /* styling form */
    #input-list form{
        width: 100%;
        margin: auto;
        text-align: center;
        position: relative;
        z-index: 1;
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        position: relative;
    }
    /* styling judul form, apakah arti dari tanda '>' ?  itu artinya child selektor, mengambil keturuann pertama saja*/
    #input-list form > h2{
        font-size: 1.3em;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
    }
    /* styling form input dan textarea, apakah arti dari tanda ',' ? */
    #input-list form .todo-form-input, #input-list form .todo-form-textarea{
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 75%;
        box-sizing: border-box;
        background-color: #CCCCCC;
        font-size: 13px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        margin-right: -15px;
        margin-left: -15px;
    }
    .flex-item{
        padding: 0 15px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 25%;
        width: 100%;
    }
}