{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href ="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel = "stylesheet" type = "text/css" href ="{% static 'css/lab_4.css' %}"/>

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>
<body>
    <header>
        {% include "lab_4/partials/navbar.html" %}
    </header>
    <content>
        <img class = "foto" src ="https://scontent-sit4-1.cdninstagram.com/t51.2885-19/s150x150/20180667_1621378101228150_3899258301023518720_a.jpg" />
        <br>
        <div class="container">
            {% block content %}
            <!-- content goes here -->
            {% endblock %}
        </div>
    </content>
<footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
</footer>
<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>