body{
  background-color: #D6BEA6;   
}
.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
  resize:none
}

.foto{
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-inline-end : 20px;
  width:100px;
  height:100px;
  border-radius:50%;
  overflow:hidden;
}

footer{
  padding: 7px;
  font-size: 14px;
  height: 35px;
  background: rgba(167, 167, 167, 0.7);
}

.push{
  height: 5px;
}