{% extends "lab_8/layout/base.html" %}
{% block content %}
<div class = "container">
    <div class="fb-login-button" scope="email, user_posts, public_profile, publish_actions" data-width="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false" onLogin="checkLoginState()" ></div>
    <div id = "item">

    </div>
</div>
{% endblock %}
