<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR INPUT</title>
</head>
<body>
    <center>
    <h1>{{error}}</h1>
    </center>
    <script>
            var timer = setTimeout
            (
                function() {
                window.location='/lab-3/'
                }
                ,1500
            );
    </script>
</body>
</html>
