{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list-ambil' %}",
                dataType: 'json',
                success: function (results)
                {

                    if (results.length == 0)
                    {
                        var tidakAda = '<div class="alert alert-danger text-center">\
                            <strong>Oops!</strong> Belum ada teman yang di tambah\
                            </div>';

                            $('#friend-list').append(tidakAda);
                    }
                    else
                    {
                        $.each(results['results'], function(index, friends) 
                        {
                            console.log(friends);
                            var buttonDelete = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friends.pk+')">'+
                                                'delete &times;'+
                                            '</button>'+
                                         '</span>';
                            var adaTeman = "<div class='list-group-item clearfix'>"+
                                        friends.friend_name +
                                        ' (' + friends.npm + ')' + buttonDelete + '</div>';

                            return $('#friend-list').append(adaTeman);
                        });
                    }
                }
            });
        });
        // <a onClick = 'toPeta(\""+ friends.alamat +"\")'>
        // var toPeta = function(alamat){
        //     console.log(alamat);
        //     window.open('peta-friend/?alamat='+alamat+'/', '_self');
        // }

        var deleteFriend = function(pk){
            console.log(pk);
            window.open('delete-friend/'+pk+'/', '_self');
        }

    </script>
{% endblock %}

<!-- my google api key : AIzaSyALrxXhvuWyAaiXH3zI6bn9ZqeeQKcvTcg -->