<!-- templates/lab_8/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top" style="background-color:#3b5998;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="" class="btn btn-primary btn-lg" style="background-color:#3b5998;border-style:none;">
        <span class="glyphicon glyphicon-home"></span> Home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <li><a href="{% url 'lab-5:index' %}#input-list">Lab 5</a></li>
          <li><a href="{% url 'lab-6:index' %}#calcs-section">Lab 6</a> </li>
          <li><a href="{% url 'lab-8:index' %}">Lab 8</a> </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  